%select#select_input_offer_id{:style=>"margin-bottom: 0;margin-right: 5px;width: 100px;float:left;",:name=>"select[offer_id]search_type"}
  %option{:value=>"is"}="is"
  %option{:value=>"is not"}="is not"
%input#text_input_offer_id{:type=>"text", :style=>"float: left;margin-bottom: 0;width: 200px;",:name=>"select[offer_id]value"}
%img#error_text_input_offer_id{"data-original-title"=>"Only Characters allowed", :src=>"/images/exclamation_mark.png", :style=>"display:none;position:absolute;right:790px;"}