%select{:style=>"float:left;width:120px;margin-bottom:0;margin-right:5px;" ,:name=>"search_params[offer_type]value"}
  %option{:value=>"for sale"}="for sale"
  %option{:value=>"for lend"}="for lend"
  %option{:value=>"for sale and lend"}="for sale and lend"