%select#select_input_signature_.pull-left{:style=>"margin-bottom:0;width:120px;margin-right:5px;",:name=>"search_params[signature]existance"}
  %option{:value=>"exists"}="exists"
  %option{:value=>"does not exists"}="does not exists"