%select#select_input_title{:style=>"margin-bottom: 0;margin-right: 5px;width: 100px;float:left;",:name=>"select[title]search_type"}
  %option{:value=>"contains"}="contains"
  %option{:value=>"is exactly"}="is exactly"
  %option{:value=>"is not"}="is not"
%input#text_input_title{:type=>"text", :style=>"float: left;margin-bottom: 0;width: 200px;",:name=>"select[title]value"}
%img#error_text_input_title{"data-original-title"=>"Only Characters allowed", :src=>"/images/exclamation_mark.png", :style=>"display:none;position:absolute;right:170px;"}