.span10.span10demanded_painters{:style=>"position:relative;margin-top:110px;margin-bottom: 100px;"}
  %h3 MOST DEMANDED PAINTERS 
  %h5 (Based on wishlist requests)
  .span10{:style=>"margin-left:0"}
    %span{:style=>"float:left;line-height:40px;"}
      ="Sort list by"
      %select#select_demanded_artist_sort_by{:style=>"margin-right: 14px;width: 180px;"}
        %option="artist name"
        %option="acknowledged artist"
        %option="unacknowledged artist"
      ="Show"
      %select#select_period{:style=>"width:112px;margin-right: 14px;"}
        %option="All"
        %option="Last week"
        %option="Last month"
        %option="Last year"
      ="Offers per page"
      %select#items_per_page_select{:style=>"width:60px;margin-right: 14px;"}
        %option="6"
        %option="12"
        %option="18"
        %option="24"
  .span10demanded_painters_first_div.search_data_outer_div{:style=>"width:800px;"}
     
    = render :partial => "admin/offers/demanded-painters/demanded_painters_data"
    
  #ajax-loader-big_for_buy_art_interesting_offers{:style=>"left: 400px;position: absolute;top: 30%;z-index: 100;display:none;height:50px;width:50px;"}
    %img{:src=>"/images/ajax-loader-big.gif",:style=>"width:100%;height:100%;"}
  #overlay_div_for_buy_art_interesting_offers{:style=>"background-color: white;display: block;height: 100%;left: 0;opacity: 0.4;position: absolute;top: 0;width: 100%;z-index: 2;display:none;"}
