#div{:align=>"center"}
  =render :partial=>"/admin/layouts/header"
.edit_shipping_company
  =render :partial=>"/admin/services/form_edit_shipping_company"
#div{:align=>"center"}
  =render :partial=>"/admin/layouts/footer"
