#div{:align=>"center"}
  =render :partial=>"admin/layouts/header"
.new_lawyer
  =render :partial=>"admin/services/form_new_insurance_company"
#div{:align=>"center"}
  =render :partial=>"admin/layouts/footer"
