%ul{:style=>"margin-left:30px;"}
  - @buy_wishlist_offers.each do |offer|
    %li
      %a{:href=>"/offer/show/#{offer.id}"}
        - if offer.messages.count != 0
          %span=offer.messages.count
        =image_tag "https://artfacedev-pro.s3.amazonaws.com/public/images/uploaded/artwork/smalls/artwork_thumbnails/#{offer.artwork.id}/#{offer.artwork.artwork_thumbnail_file_name}", :alt=>"image not found", :alt=>"image not found"
        %i.icon-certificate
      %span{:style=>"text-align:center"}
        %span.span10wishlist_span_artist=offer.artwork.artist.artist_name || "unknown"
        - if (humanize_time(offer.offer_end_date.to_i - Time.now.to_i)).blank?
          %span.span10wishlist_span_time="Remaining Time: unknown"
        - else
          %span.span10wishlist_span_time="Remaining Time: #{humanize_time(offer.offer_end_date.to_i - Time.now.to_i)}"