%select#select_input_movement_period_{:style=>"float:left;width:120px;margin-bottom:0;margin-right:5px" ,:name=>"select[movement_period]search_type"}
  %option="contains"
  %option="is exactly"
  %option="is not"
%input#text_input_movement_period_{:style=>"float:left;width:100px;margin-bottom:0;margin-right:5px", :type=>"text" ,:name=>"select[movement_period]value"}
%img#error_text_input_movement_period_{"data-original-title"=>"Only Characters allowed", :src=>"/images/exclamation_mark.png", :style=>"display:none;position:absolute;right:235px;"}