%select#select_input_description{:style=>"margin-bottom: 0;margin-right: 5px;width: 100px;float:left;",:name=>"select[description]search_type"}
  %option{:valu=>"contains"}="contains"
  %option{:valu=>"is exactly"}="is exactly"
  %option{:valu=>"is not"}="is not"
%input#text_input_description_part_four{:type=>"text", :style=>"float: left;margin-bottom: 0;width: 200px;float:left;" ,:name=>"select[description]value"}
%img#error_text_input_description_part_four{"data-original-title"=>"Only Characters allowed", :src=>"/images/exclamation_mark.png", :style=>"display:none;position:absolute;right:135px;"}
