%select#select_input_speciality{:style=>"margin-bottom: 0;margin-right: 5px;width: 100px;float:left;",:name=>"select[speciality]search_type"}
  %option="contains"
  %option="is exactly"
  %option="is not"
%input#text_input_speciality_part_four{:type=>"text", :style=>"float: left;margin-bottom: 0;width: 200px;float:left;" ,:name=>"select[speciality]value"}
%img#error_text_input_speciality_part_four{"data-original-title"=>"Only Characters allowed", :src=>"/images/exclamation_mark.png", :style=>"display:none;position:absolute;right:135px;"}