%select#select_input_status{:style=>"margin-bottom: 0;margin-right: 5px;width: 300px;float:left;",:name=>"select[status]search_type"}
  %option="online"
  %option="offline"
/ %input#text_input_status{:type=>"text", :style=>"float: left;margin-bottom: 0;width: 200px;float:left;" ,:name=>"select[status]value"}
%img#error_text_input_status{"data-original-title"=>"Only Characters allowed", :src=>"/images/exclamation_mark.png", :style=>"display:none;position:absolute;right:170px;"}