- country_select_data
%select#select_input_country_{:style=>"float:left;width:300px;margin-left:-15px;width:325px;" ,:name=>"select[country]name"}
  - @countries.each do |country|
    %option=country.country_name