%select#select_input_contact_data_approval{:style=>"margin-bottom: 0;margin-right: 5px;width: 300px;float:left;",:name=>"select[contact_data_approval]search_type"}
  %option="successful"
  %option="pending"
/ %input#text_input_contact_data_approval{:type=>"text", :style=>"float: left;margin-bottom: 0;width: 200px;float:left;" ,:name=>"select[contact_data_approval]value"}
%img#error_text_input_contact_data_approval{"data-original-title"=>"Only Characters allowed", :src=>"/images/exclamation_mark.png", :style=>"display:none;position:absolute;right:170px;"}