.layout_part_three
  %h3.heading= t '.search_heading'
  = render :partial =>"admin/offer/user_forum_messages/forum_search_basic"
  = render :partial =>"admin/offer/user_forum_messages/forum_search_advanced"