.layout_part_two
	= text_field_tag :forum_message_title, "", :placeholder=>"#{t '.forum_message_title_placeholder'}", :class=>"forum_message_title"
	= input_tag "forum_new_question", "forum_message_submit btn", "#{t '.post_question'}"