= render :partial => "user_header"
%br
%br
= "Your account has been deleted from our records, since it has been more than 48 hours within which you haven't activated your account. For further enquiry contact [Name]"
= "&lt;a href='mailto:help@[Name].com'&gt; cloud.test.dev@gmail.com &lt;/a&gt;".html_safe
%br
%br
= render :partial => "user_footer"