= render :partial => "dashboard/header"
.sell-art-area
  = render :partial => "offer/sell-art/sell_art_area_offers"
  = render :partial => "offer/sell-art/sell_art_area_messages"
= render :partial => "dashboard/footer"