= render :partial => "dashboard/header"
= render :partial => "offer/show/show"
= render :partial => "offer/show/full_screen_show"
=# render :partial => "offer/show/messages"
= render :partial => "dashboard/footer"