= render :partial => "layouts/header"
.container_forum_new_question	
	= render :partial => "forum/new_question/layout_part_one"
	= render :partial => "forum/new_question/layout_part_two"
= render :partial => "layouts/footer"