= content_tag :div, :class=>"layout_part_three pull-left", :style=>"width:780px;padding:20px;margin-top:20px;background-color:#f1f1f1" do
	= render :partial =>"service/index/layout_part_three/part_one"
	= render :partial =>"service/index/layout_part_three/part_two"
	=# render :partial =>"service/index/layout_part_three/part_three"
	= render :partial =>"service/index/layout_part_three/part_four"