= content_tag :div, :class=>"layout_part_two pull-left", :style=>"width:780px;padding:20px;margin-top:20px;" do
	= render :partial =>"service/index/layout_part_two/part_one"
	= render :partial =>"service/index/layout_part_two/part_two"
	=# render :partial =>"service/index/layout_part_two/part_three"
	= render :partial =>"service/index/layout_part_two/part_four"