=render :partial=>"/service_directory_admin/layouts/service_header"
//%h3=current_service_partner.first_name
=render :partial=>"/service_directory_admin/service_partners/contact_data"

= render :partial => "service_directory_admin/show/layout_part_two"
= render :partial => "service_directory_admin/show/layout_part_three"
= render :partial => "service_directory_admin/show/layout_part_four"
= render :partial => "service_directory_admin/show/layout_part_five"

=render :partial=>"/service_directory_admin/layouts/footer"