%select#select_input_gender_{:style=>"margin-bottom: 0;margin-right: 5px;margin-left:-15px;width: 100px",:name=>"select[gender]search_type"}
  %option="is"
  %option="is not"
%select#select_input_gender_value_{:style=>"margin-bottom: 0;margin-right: 5px;width: 100px",:name=>"select[gender]value"}
  %option="male"
  %option="female"
