-if (params[:choice]=="3")
	alert("3")
	$(".span10demanded_painters_first_div").html('#{escape_javascript(render :partial => "admin/offers/demanded-painters/demanded_painters_data")} ');
-elsif (params[:choice]=="2")
	alert("2")
	$(".span10artist_names_first_div").html('#{escape_javascript(render :partial => "admin/offers/manage-artist/artist-names/artist_names_data")} ');	
-elsif (params[:choice]=="6" || params[:offer][:search_advanced]=="true")
	alert("6")
	$("#search_data").html('#{escape_javascript(render :partial => "admin/offers/buy-art/search_data")} ');
	$("#advanced_select_1").children().first().removeAttr("selected");