= render :partial => 'admin/layouts/header'
= render :partial => 'admin/offers/edit/edit'
//= render :partial => 'admin/offers/edit/summary'
//= render :partial => 'admin/offers/edit/full_screen_edit'
= render :partial => "admin/layouts/footer"