.user_section_header
	= render :partial => "admin/layouts/header"
.user_offer_section_one#offer_section_one
	= render :partial => "admin/users/users_offer_show/show"
	
= render :partial =>"admin/layouts/footer"
	