= render :partial => "admin/layouts/application"
= render :partial => "admin/layouts/header"

= render :partial => "admin/offer/user_messages/sell_art_area_messages"

= render :partial => "admin/layouts/footer"