%select#select_input_username_{:style=>"margin-bottom: 0;margin-right: 5px;width: 100px",:name=>"select[username]search_type"}
  %option="contains"
  %option="is exactly"
  %option="is not"
%input#text_input_username_{:type=>"text", :style=>"margin-bottom: 0;width: 200px;" ,:name=>"select[username]value"}
%img#error_text_input_username_{"data-original-title"=>"Only Characters allowed", :src=>"/images/exclamation_mark.png", :style=>"display:none;position:absolute;margin-left:-14px;"}
