= render :partial =>"layouts/header"

%div{:style=>"margin-left:2%"}
	%h3="There has been some error in completing the payment process."
	%h4="Please contact the site admin."
	%span{:style=>"font-size:20px"}=link_to "Contact", "http://artfacedev.herokuapp.com/contact"
	%br
	%br

= render :partial =>"layouts/footer"