%select#select_user_payment_method_1_{:style=>"float:left;width:50px;margin-bottom:0;margin-right:5px",:name=>"select[userpaymentmethod]search_type"}
  %option="is"
  %option="is not"
%select#select_user_payment_method_2_{:style=>"float:left;width:125px;margin-bottom:0;margin-right:5px",:name=>"select[userpaymentmethod]name"}
  %option="Visa"
  %option="Amex"
  %option="Diners"
  %option="PayPal"
  %option="bank transfer"
  %option="free account"
