%select#select_user_backend_status_1_{:style=>"float:left;width:100px;margin-bottom:0;margin-right:5px",:name=>"select[userbackendstatus]search_type"}
  %option="includes"
  %option="excludes"
%select#select_user_backend_status_2_{:style=>"float:left;width:125px;margin-bottom:0;margin-right:5px",:name=>"select[userbackendstatus]name"}
  %option="admin-rights"
  %option="forum-rights"
  %option="service-directory-rights"