%select#select_user_subscription_type_1_{:style=>"float:left;width:50px;margin-bottom:0;margin-right:5px",:name=>"select[usersubscriptiontype]search_type"}
  %option="is"
  %option="is not"
%select#select_user_subscription_type_2_{:style=>"float:left;width:125px;margin-bottom:0;margin-right:5px",:name=>"select[usersubscriptiontype]name"}
  %option="Basic"
  %option="Plus"
  %option="Pro"
  %option="Premium"
  %option="No Limit"