%select#select_user_subscription_method_1_{:style=>"float:left;width:50px;margin-bottom:0;margin-right:5px",:name=>"select[usersubscriptionmethod]search_type"}
  %option="is"
  %option="is not"
%select#select_user_subscription_method_2_{:style=>"float:left;width:125px;margin-bottom:0;margin-right:5px",:name=>"select[usersubscriptionmethod]name"}
  %option="auto renewal"
  %option="1-year-limit"