.disclaimer#disclaimer{:style=>"width:820px;margin-left:2%"}
	%h2="DISCLAIMER"
	%div{:style=>"float:left;width:48%;margin-right:2%"}
		%strong="NO WARRANTIES"
		%p='This website is porvided "as is" without any representations or warranties, express or implied.[NAME] makes no representations or warranties in relation to this website or the information an materials provided on this website. Without prejudice to the generality of the foregoing paragraph,[NAME] does notwarrant that:'
		%ul
			%li="this website will be constantly available, or available at all; or"
			%li="the information on this website is complete, true accurate or non-misleading."
		%p="Nothing on this website constitutes, or is meant to constitute, advice of any kind.[If you require advice in relation to any [legal, financial or medical] matter you should consult an appropriate professional.]"
		%strong="LIMITATIONS OF LIABILITY"
		%p="[NAME] will not be liable to you (whether under law of contact, the law of  torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:"
		%ul
			%li="[to the extent that the website is provided free-of-charge, for any firect loss;]"
			%li="for any indirect, special or consequential loss; or"
			%li="for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data"
			%p="These limitations of liability apply even if [NAME] has been expressly advised of the potential loss."
		%strong="EXCEPTIONS"
		%p="Nothing in this website disclaimar will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit [NAME'S] liability in respect of any:"
		%ul
			%li="death or personal injury caused by [NAME'S] negligence;"
			%li="fraud or fraudelent misrepresentation on the part of [NAME]; or "
			%li="matter which it would be illegal or unlwayful for [NAME] to exclude or limit, or to attempt or purport to exclude or limit, its liability."
	%div{:float=>"float:left;"}
		%strong="REASONABLENESS"
		%p="By using this website, you agree that the exclusions and limitations of liabilityset out in this website disclaimar are reasonable.If you do not think they are reasonable, you must not use this website."
		%br
		%br
		%strong="OTHER PARTIES"
		%p="[Your accept that, as a limited entity, [NAME] has an interest in limiting the personal liability of its officers and employees. You agree that you will not bring any claim personally against [NAME'S] officers or employees in respect of any losses you suffer in connection with the website.][Without prejudice to the foregoing paragraph,] you agree that the limitations of waranties and liability set out in this website disclaimer will protect [NAME'S] officers, employees, agents, subsidiaries, successors, assigns and sub-contractors as well as [NAME]."
		%strong="ABOUT THIS WEBSITE DISCLAIMER"
		%p="This website disclaimar is based on a free Contractology website disclaimer form available at www.freenetlaw.com. Premium templates available from Contractology include website design contracts."
		%br
		%strong="UNENFORCEABLE PROVISIONS"
		%p="If any provisions of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer."
.space{:style=>"height:330px;"}