.privacy_statement#privacy_statement{:style=>"width:820px;margin-left:2%"}
	%h2=t '.heading'
	%div{:style=>"float:left;width:47%;background-color:#E9E9E9;padding:5px 5px 5px 5px;height:850px;"}
		%p=t '.text_one'
		%strong=t '.strong_text_one'
		%p=t '.text_two'
		%ul
			%li=t '.ul_one_li_text_one'
			%li=t '.ul_one_li_text_two'
			%li=t '.ul_one_li_text_three'
			%li=t '.ul_one_li_text_four'
			%li=t '.ul_one_li_text_five'
		%strong=t '.strong_text_two'
		%p=t '.text_three'
		%ul
			%li=t '.ul_two_li_text_one'
			%li=t '.ul_two_li_text_two'
			%li=t '.ul_two_li_text_three'
			%li=t '.ul_two_li_text_four'
			%li=t '.ul_two_li_text_five'
			%li=t '.ul_two_li_text_six'
			%li=t '.ul_two_li_text_seven'
			%li=t '.ul_two_li_text_eight'
			%li=t '.ul_two_li_text_nine'
		%p=t '.text_four'
		%p=t '.text_five'
	%div{:style=>"float:left;width:48%;background-color:#E9E9E9;padding:5px 5px 5px 5px;height:850px;padding-right:25px;"}
		%strong=t '.strong_text_three'
		%p=t '.text_six'
		%p=t '.text_seven'
		%p=t '.text_eight'
		%strong=t '.strong_text_four'
		%p=t '.text_nine'
		%p=t '.text_ten'
		%p=t '.text_eleven'
		%strong=t '.strong_text_five'
		%p=t '.text_twelve'
		%p=t '.text_thirteen'
		%strong=t '.strong_text_six'
		%p=t '.text_fourteen'
		%p=t 'text_fifteen'
		%strong=t '.strong_text_seven'
		%p=t '.text_sixteen'
		%strong=t '.strong_text_eight'
		=t '.text_seventeen'
		%br
		=t 'text_eighteen'
		%br
		=t 'text_nineteen'
		%br
		%br
.space{:style=>"height:870px;"}