= render :partial=> 'layouts/header'
.terms_conditions{:style=>"width:820px;margin-left:2%"}
	%h2=t '.heading'
	%div{:style=>"float:left;width:48%;margin-right:2%"}
		%strong=t '.strong_text_one'
		%p=t '.text_one'
		%strong=t '.strong_text_two'
		%p=t '.text_two'
		%strong=t '.strong_text_three'
		%p=t '.text_three'
		%p=t '.text_four'
		%strong=t '.strong_text_four'
		%strong=t '.strong_text_five'
		%p=t '.text_five'
		%ul
			%li=t '.text_six'
			%li=t '.text_seven'
		%p=t '.text_eight'
		%strong=t '.strong_text_six'
		%p=t '.text_nine'
		%p=t '.text_ten'
		%strong=t '.strong_text_seven'
		%p=t '.text_eleven'
		%strong=t '.strong_text_eight'
		%p=t '.text_twelve'
		%strong=t '.strong_text_nine'
		%p=t '.text_thirteen'
	%div{:style=>"float:left;width:50%;"}
		%strong=t '.strong_text_ten'
		%p=t '.text_fourteen'
		%strong=t '.strong_text_eleven'
		%p=t '.text_fifteen'
		%strong=t '.strong_text_twelve'
		%p=t '.text_sixteen'
		%strong=t '.strong_text_thirteen'
		%p=t '.text_seventeen'
		%strong=t '.strong_text_fourteen'
		%p=t '.text_eighteen'
		%p=t '.text_nineteen'
		%strong=t '.strong_text_fifteen'
		%p=t '.text_twenty'
		%p=t '.text_twenty_one'
		%strong=t '.strong_text_sixteen'
		%p=t '.text_twenty_two'
		%strong=t '.strong_text_seventeen'
		%p=t '.text_twenty_three'
		%strong=t '.strong_text_eighteen'
		%p=t '.text_twenty_four'
		%strong=t '.strong_text_nineteen'
		%p=t '.text_twenty_five'
		%p=t '.text_twenty_six'
		%br
		%p=t '.text_twenty_seven'
.space{:style=>"height:2580px;"}
= render :partial=> 'layouts/footer'