= render :partial => 'user_header'
%br
%br
= "Thank you for registering on Artface. As per your subscription plan, kindly deposit the required amount."
%br
="Bank Account Details"
%br
="Bank name - []"
%br
="Bank Address = []"

= render :partial => 'user_footer'