= render :partial => "user_header"
%br
%br
= "You have recently registered at our website and a successful transaction (user paypal express checkout) has taken place from this email address #{@user.email}address. ".html_safe
%br
%br
= render :partial => "user_footer"