#head5.head5_admin
  %img{:alt => "image", :src => "/assets/frame.jpg"}/
  %h1 ARTFACE.COM ADMIN
  %h2
  %p Users currently logged in: 348
  %p New offers in the last 24 hours: 34
  %p Ended offers in the last 24 hours: 5
  %p New subscribers in the last 24 hours: 2
  %p Ended subscriptions (last 24 h): 0
  %h3
  %p
    %u Unapproved artist names: 5
  %p
    %u Reported abuses: 0
  %p
    %u Unpaid Subscriptions: 2
  %h4 LATEST OFFERS
  %h5
  %p
    %img.image_admin{:alt => "image", :src => "/assets/artist2.jpg "}
  %p
    %img.image_admin{:alt => "image", :src => "/assets/artist2.jpg "}
  %p
    %img.image_admin{:alt => "image", :src => "/assets/artist2.jpg "}
  %h6
    %u
      %b Artist Name
  %p nude on a sofa
  %a
    %u
      %b Artist Name
  %p nude on a sofa
  %ul
  %u
    %b Artist Name
  %p nude on a sofa
  #activity.activity_admin
    %h1 LATEST FORUM ACTIVITY
    %h2
    %p
      %u I am interested in the van Gogh you offer.
    %p
      %u Offer # 19345: Is this a fake?
    %p
      %u Yes, that is interesting. Does anyone know when
    %p
      %u the ipsum dolor sit amet,...
    %p
      %u Lorem ipsum dolor sit amet, consectetuer adipi-
    %p
      %u scing elit....
    %br/
    %br/
    %br/
