%label
  annual price:
  %span= @subscription_plan.subscription_fee
%br
%label
  available offersyears:
  %span= @subscription_plan.subscription_paintings_allowed
%br
%label
  viewable offers/years:
  %span unlimited  