.buy_art_area {
  width: 820px;
  margin-left: 2%;
  float: left;
}
.buy_art_area div.container {
  margin-left: 2%;  
}
.buy_art_area div.search, .user_favourites_container div.search {
  border-radius: 5px;
  border: 2px solid #727272;
  float: left;
  background: #727272;
  width: 775px;
  margin-top: 30px;
  padding: 20px;
}
.buy_art_area, .user_favourites_container div.search * {
  float: left;
}
.buy_art_area div.messages {
  float: left;
}
.buy_art_area div.messages div.nav_sort_messages {
  float: left;
}
.buy_art_area div.messages div.nav_sort_messages * {
  float: left;
}
.buy_art_area div.messages div.messages_container {
  float: left;
  width: 100%;
}

.buy_art_area div.messages div.messages_container * {
  float: left;
}

.buy_art_search {
  width:820px;
}
.buy_art_search div.search {
  border-bottom:1px solid black;
  background:#727272;
  padding:20px;
  position:relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top:20px;
  margin-bottom:20px;
  display:block;
  float:left;
}

.buy_art_search div.search * {
  float:left;
}

.buy_art_search div.search_advanced {
  border-bottom:1px solid black;
  background:#727272;
  padding:20px;
  position:relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top:20px;
  margin-bottom:20px;
  float:left;
  display: none;
}

.buy_art_search div.search_advanced * {
  float:left;
}
.buy_art_search div.search_advanced div ul li select {
  width:130px;
  margin-right:10px;
}





.search_data_outer_div {
  float:left;
  width:100%;
  margin-top:0px;
  position:relative
}

.search_data_outer_div ul {
  list-style:none;
  float:left;
  width:100%;
  margin-left:0;
  margin-right:5px;
}

.search_data_outer_div ul li.small_preview {
  width:30%;
  margin-right:10px;
  float:left;
  position:relative;
  height:80px;
  background-color:#e9e9e9;
  margin-bottom:10px;
}
.search_data_outer_div ul li.small_preview div.image_area {

}
.search_data_outer_div ul li.small_preview a img {
  height: 65px;
  padding: 8px;
  position: absolute;
  width: 65px;
}
.search_data_outer_div ul li.small_preview span span.artist_name {
  font-weight: normal;
  left: 75px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 15px;
  width: auto;
}
.search_data_outer_div ul li.small_preview span span.remaining_time {
  left: 80px;
  position: absolute;
  top: 33px;
  font-size:11px;
}




.search_data_outer_div ul li.medium_preview {
  background-color: #E9E9E9;
  float: left;
  height: 200px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 15px;
  position: relative;
  width: 28%;
}
.search_data_outer_div ul li.medium_preview div.image_area {
  float:left;
  width:100%;
  height:150px;
}
.search_data_outer_div ul li.medium_preview a {
  float:left;
  width:100%;
  height:100%;
}
.search_data_outer_div ul li.medium_preview a img {
  height: 100%;
  width: 100%;
  float:left;
}
.search_data_outer_div ul li.medium_preview span {
  float:left;
}
.search_data_outer_div ul li.medium_preview span span.artist_name {
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  width: 100%;
}
.search_data_outer_div ul li.medium_preview span span.remaining_time {
  float:left;
  font-size:11px;
}

.search_data_outer_div ul li.large_preview {
  background-color: #E9E9E9;
  float: left;
  height: 300px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 15px;
  position: relative;
  width: 45%;
}
.search_data_outer_div ul li.large_preview div.image_area {
  float:left;
  width:100%;
  height:250px;
}
.search_data_outer_div ul li.large_preview a {
  float:left;
  width:100%;
  height:100%;
}
.search_data_outer_div ul li.large_preview a img {
  height: 100%;
  width: 100%;
  float:left;
}
.search_data_outer_div ul li.large_preview span {
  float:left;
  width:100%;
  margin-top: 4px;
}
.search_data_outer_div ul li.large_preview span span.artist_name {
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  width: 100%;
  clear:both;
}
.search_data_outer_div ul li.large_preview span span.remaining_time {
  float:left;
  font-size:11px;
  text-align: center;
}