%select#select_input_artistname_{:style=>"margin-bottom: 0;margin-right: 5px;width: 100px",:name=>"select[artistname]search_type"}
  %option="contains"
  %option="is exactly"
  %option="is not"
%input#text_input_artistname_{:type=>"text", :style=>"margin-bottom: 0;width: 200px;" ,:name=>"select[artistname]value"}
%img#error_text_input_artistname_{"data-original-title"=>"Only Characters allowed", :src=>"/images/exclamation_mark.png", :style=>"display:none;position:absolute;margin-left:-14px;"}