//$(".span10interesting_offers_first_div").html('#{escape_javascript(render :partial => "admin/offers/buy-art/interesting_offers/interesting_offers_data")} ');
$(".span10interesting_offers_first_div").html('#{escape_javascript(render :partial => "admin/offers/buy-art/search_data")} ');
offer_functions()